/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";

$shader_white: rgba(255, 255, 255, 0.8);

 .loading{
     position: relative;
     overflow: hidden !important;
 }


 .loading:before{
     content:"";
     display: block;
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     z-index: 500;
     background-color: $shader_white;
 }

 .loading:after{
     content:"";
     display: block;
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	margin: -50px 0 0 -50px;
 	height: 100px;
 	width: 100px;
 	text-indent: 250px;
 	white-space: nowrap;
 	overflow: hidden;
 	-webkit-mask-image: image-url("spinner.png");
 	background-color: #000000;
 	animation-name: spinnerRotate;
 	animation-duration: 2s;
 	animation-iteration-count: infinite;
 	animation-timing-function: linear;

 	-moz-animation-name: spinnerRotate;
 	-moz-animation-duration: 2s;
 	-moz-animation-iteration-count: infinite;
 	-moz-animation-timing-function: linear;

 	-webkit-animation-name: spinnerRotate;
 	-webkit-animation-duration: 2s;
 	-webkit-animation-iteration-count: infinite;
 	-webkit-animation-timing-function: linear;
 	z-index: 501;
 }

 @-moz-keyframes spinnerRotate {
     from { -moz-transform: rotate(0deg); }
     to { -moz-transform: rotate(360deg); }
 }
 @-webkit-keyframes spinnerRotate {
     from { -webkit-transform: rotate(0deg); }
     to { -webkit-transform: rotate(360deg); }
 }
 @keyframes spinnerRotate {
     from {transform:rotate(0deg);}
     to {transform:rotate(360deg);}
 }

 #users_table{
   min-height: 500px;
 }

 th.header{
   cursor: pointer;
 }

 th.header.headerSortUp::after{
   content: '\25BC';
   margin-left: 5px;
 }

 th.header.headerSortDown::after{
   content: '\25B2';
   margin-left: 5px;
 }
